*{
    padding:0px;
    margin:0px;
}
.bg{
    background-color:bisque;
    height:1000px;
    width:1000px;
    margin: 30px;
}
h1{
    position: absolute;
    transform: translate(-50%, -50%);
    top:70px;
    left:200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}